body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
    color: floralwhite;
    font-style: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }